* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

button {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 3px 8px;
    margin-left: 5px;
    background-color: #f8f8f8;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

button:active {
    background-color: #ccc;
    border-color: #666;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}


button:focus {
    outline: none;
    box-shadow: 0 0 3px #aaa;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Полная высота экрана */
}

.header {
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex: 1;
    overflow: hidden; 
}

.list-container {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.list-container h3 {
    margin-top: 0;
}

.input-container {
    margin-bottom: 5px;
    display: flex;
}

.input-container input {
    border: 1px solid #ccc;
    border-radius: 4px; 
    flex: 1;
    padding: 3px;
}

.list-container select {
    border-radius: 4px;
    border: 1px solid #ccc;
}

.list {
    width: 100%;
    overflow-y: auto;
    height: 70px; /* Уменьшенная высота для отображения 3-4 строк */
}

.message-section, .result-section {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1; /* Заполняет оставшееся пространство */
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;


}

.message-section {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

.result-section {
    background-color: #e0f7fa;
    border: 1px solid #00acc1;
}

.message-section h4, .result-section h4 {
    margin: 0;
    padding-bottom: 10px;
}

#messageContainer, #resultContainer {
    flex: 1; /* Заполняет оставшееся пространство внутри секции */
    overflow-y: auto;
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
}

.button-container button {
    padding: 8px 15px;
    font-size: 14px;
}

.button-container a.history-link {
    margin-right: auto;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.button-container a.history-link:hover {
    text-decoration: underline;
}

.history-container {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
}

.search-item {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.search-item:last-child {
    border-bottom: none;
}

.timestamp {
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}

.timestamp:hover {
    text-decoration: underline;
}

.product-names {
    margin-top: 10px;
}

.product-category {
    font-style: italic;
    color: #555;
    margin-bottom: 5px;
}

.list-disc {
    margin-left: 20px;
    color: #333;
    font-size: 14px;
}
