<!DOCTYPE html>
<html lang="en" class="h-full" data-language="jinja2">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Double AliExpress Search{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', path='favicon.ico') }}" type="image/x-icon">
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-h-screen bg-gray-200 text-gray-900 flex flex-col">
      <header class="bg-gradient-to-r from-red-600 to-yellow-500 text-white py-3 text-center">
      <h1 class="text-3xl font-bold"><a href="/" class="text-white">Double AliExpress Search</a></h1>

    </header>

      {% block content %}
       <!-- Main content  -->
      {% endblock %}
    <footer class="bg-gradient-to-r from-red-600 to-yellow-500 text-white py-2 text-center text-sm">
      <p>&copy; 2024 Double AliExpress Search</p>
    </footer>
    {% block hidden %}
    {% endblock %}
  </body>
</html>
