<!DOCTYPE html>
<html lang="en" class="h-full" data-language="jinja2">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Double AliExpress Search</title>
    <link rel="icon" href="http://127.0.0.1:8000/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://127.0.0.1:8000/static/favicon.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-h-screen bg-gray-200 text-gray-900 flex flex-col">
    <header class="bg-gradient-to-r from-red-600 to-yellow-500 text-white py-3 text-center">
      <h1 class="text-3xl font-bold"><a href="/" class="text-white">Double AliExpress Search</a></h1>
    </header>

    <div class="container mx-auto px-4 pt-4 pb-7 flex flex-col md:flex-row md:space-x-4">
      <!-- Aside for Menu -->
      <aside class="bg-white flex flex-col shadow-lg rounded-lg py-2 w-full md:w-1/4 mb-4 md:mb-0">
        <!-- Mobile Menu Toggle -->
        <button id="menu-toggle" class="md:hidden bg-red-600 text-white py-2 px-4 rounded-md mb-4">
          Toggle Menu
        </button>
        <nav id="nav-menu" class="bg-white flex flex-col shadow-lg rounded-lg py-2">
          <h3 class="text-xl px-4 font-semibold text-red-600">Menu</h3>
          <ul class="flex flex-col mt-4">
            <li class="py-1 px-4">
              <a href="/login" class="text-red-600 hover:text-red-800 font-bold text-lg">Login</a>
            </li>
            <li class="py-1 px-4">
              <a href="/search" class="text-red-600 hover:text-red-800 font-bold text-lg">Search</a>
            </li>
            <li class="py-1 px-4">
              <a href="/history" class="text-red-600 hover:text-red-800 font-bold text-lg">My searches</a>
            </li>
            <li class="py-1 px-4">
              <a href="/history" class="text-red-600 hover:text-red-800 font-bold text-lg">Common history</a>
            </li>
            <li class="py-1 px-4">
              <a href="/logout" class="text-red-600 hover:text-red-800 font-bold text-lg">Logout</a>
            </li>
          </ul>
        </nav>
      </aside>

      <!-- Main Content Area -->
      <main class="flex-grow container mx-auto px-4 pt-4 pb-7">
        <!-- Product Names Section -->
        <section class="bg-white flex flex-col shadow-lg rounded-lg py-2 mb-4">
          <h3 class="text-xl px-4 font-semibold text-red-600">Product names</h3>
          <div class="flex flex-col md:flex-row mt-4 space-y-4 md:space-y-0 md:space-x-4">
            <!-- List 1 -->
            <div class="flex flex-col flex-grow px-4">
              <div class="flex flex-row mb-4">
                <input
                  type="text"
                  class="flex-grow border text-red-600 border-red-600 p-2 rounded-md focus:outline-none focus:border-yellow-500"
                  id="input1"
                  placeholder="Add to List 1"
                  value="7260ac"
                />
                <button
                  type="button"
                  id="add-to-list1"
                  class="ml-4 bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-800 transition duration-300"
                >
                  Add to List 1
                </button>
              </div>
              <div class="flex-grow w-full mt-1" id="select-container-1">
                <p class="text-red-600">List of first product names (double click to delete)</p>
                <div class="overflow-hidden rounded-md mt-2 border border-red-600">
                  <label for="namesList1"></label><select
                    id="namesList1"
                    name="names_list1[]"
                    size="2"
                    multiple
                    class="w-full text-red-600 p-2 focus:outline-none focus:border-yellow-500 overflow-auto"
                  >
                    <option value="7260ac">7260ac</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- List 2 -->
            <div class="flex flex-col flex-grow px-4">
              <div class="flex flex-row mb-4">
                <input
                  type="text"
                  class="flex-grow text-red-600 border border-red-600 p-2 rounded-md focus:outline-none focus:border-yellow-500"
                  id="input2"
                  placeholder="Add to List 2"
                  value="DW5823e"
                />
                <button
                  type="button"
                  id="add-to-list2"
                  class="ml-4 bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-800 transition duration-300"
                >
                  Add to List 2
                </button>
              </div>
              <div class="flex-grow w-full mt-1" id="select-container-2">
                <p class="text-red-600">List of second product names (double click to delete)</p>
                <div class="overflow-hidden rounded-md mt-2 border border-red-600">
                  <label for="namesList2"></label><select
                    id="namesList2"
                    name="names_list2[]"
                    size="2"
                    multiple
                    class="w-full text-red-600 p-2 focus:outline-none focus:border-yellow-500 overflow-auto"
                  >
                    <option value="DW5823e">DW5823e</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Actions Buttons -->
        <div class="flex w-full mt-2 space-x-4">
          <div class="flex flex-row justify-between flex-grow px-4">
            <div class="py-1">
              <a href="/history" class="text-red-600 hover:text-red-800 font-bold text-lg">History</a>
            </div>
            <div>
              <button
                type="button"
                class="bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-800 transition duration-300 disabled:bg-red-400 disabled:opacity-50"
                id="search-button"
                disabled
              >
                Search
              </button>
            </div>
          </div>
          <div class="flex flex-row justify-between flex-grow px-4">
            <button
              type="button"
              class="bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-800 transition duration-300"
              id="stop-button"
            >
              Stop
            </button>
            <button
              type="button"
              class="bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-800 transition duration-300 disabled:bg-red-400 disabled:opacity-50"
              id="save-button"
              disabled
            >
              Save
            </button>
          </div>
        </div>

        <!-- Search Messages Section -->
        <section class="bg-orange-50 flex flex-col shadow-lg rounded-lg py-2 mb-4 h-[calc(20vh)] overflow-auto" id="messages-section">
          <h3 class="text-xl px-4 font-semibold text-red-600">Search Messages</h3>
          <div class="px-4 mt-2 flex-grow overflow-auto text-red-600" id="messages-container">
            <!-- Messages will appear here -->
          </div>
        </section>

        <!-- Search Results Section -->
        <section class="bg-orange-100 flex flex-col shadow-lg rounded-lg py-2 mb-4 h-[calc(20vh)] overflow-auto" id="results-section">
          <h3 class="text-xl px-4 font-semibold text-red-600">Search Results</h3>
          <div class="px-4 mt-2 flex-grow overflow-auto text-red-600" id="results-container">
            <!-- Results will appear here -->
          </div>
        </section>

      </main>
    </div>

    <!-- Footer -->
    <footer class="bg-gradient-to-r from-red-600 to-yellow-500 text-white py-2 text-center text-sm">
      <p>&copy; 2024 Double AliExpress Search</p>
    </footer>

    <input type="hidden" id="messages-list" name="messages-list" value="">
    <input type="hidden" id="results-data" name="results-data" value="">

    <script>const isActiveSearch = true;</script>

    <script src="http://127.0.0.1:8000/static/js/script.js"></script>

    <script>
      // Mobile menu toggle
      document.getElementById('menu-toggle').addEventListener('click', () => {
        const menu = document.getElementById('nav-menu');
        menu.classList.toggle('hidden');
      });
    </script>
  </body>
</html>
